@import "style.css";

.headline {
  border: 1px solid transparent;
  height: auto;
}
.hamburger.active {
  margin: 0 20px auto 0;
}
.apply{
    width: 300px;
    height: 300px;
    background: linear-gradient(to top,rgba(177, 177, 177, 0.8)50%,rgba(177, 177, 177, 0.8)50%);
    position: absolute;
    top: 100px;
    left: 600px;
    border-radius: 10px;
    padding: 25px;


}
.apply h5{
    width: 220px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #e14d12;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;

}
.apply input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #e46018;
    border-top: none;
    border-right: none;
    border-left: none;
    color:#fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.apply input:focus{
    outline: none;

}
::placeholder{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    width: 240px;
    height: 40px;
    background: #e46018;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btn:hover{
    background: #fff;
    color: #e46018;
}
.btn a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
}
.act {
    text-align: center;
}
.act h6 {
    line-height: 700px;
    margin-bottom: -50px;
    font-size: large;
}
  
.act p {
    color: #272a31;
    margin-top: -300px;

}
  